In [30]:
# This is the group project for the sagemaker training session started on 2019-03-12
# Team Members: Ehsan, Nahum, Madhav
import pickle
import pandas as pd
import numpy as np
%matplotlib

Using matplotlib backend: TkAgg

In [4]:
movies_frame = pd.read_csv('data/movies.csv')
genomescores_frame = pd.read_csv('data/genome-scores.csv')
genometags_frame = pd.read_csv('data/genome-tags.csv')
ratings_frame = pd.read_csv('data/ratings.csv')
tags_frame = pd.read_csv('data/tags.csv')

movies-frame
genome scores frame
genome tags frame
ratings frame
tags

In [11]:
print("# unique userIds is", len(pd.unique(ratings_frame['userId'])))
print("# unique movieId is", len(pd.unique(ratings_frame['movieId'])))
print("# the number of interactions is", ratings_frame.shape[0])

# unique userIds is 138493
# unique movieId is 26744
# the number of interactions is 20000263

In [28]:
# small_df = ratings_frame[['userId', 'movieId']][:10]
temp = pd.get_dummies(ratings_frame, columns=['userId', 'movieId'])

,userId_1,movieId_2,movieId_29,movieId_32,movieId_47,movieId_50,movieId_112,movieId_151,movieId_223,movieId_253,movieId_260
0,1,1,0,0,0,0,0,0,0,0,0
1,1,0,1,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,0
3,1,0,0,0,1,0,0,0,0,0,0
4,1,0,0,0,0,1,0,0,0,0,0
5,1,0,0,0,0,0,1,0,0,0,0
6,1,0,0,0,0,0,0,1,0,0,0
7,1,0,0,0,0,0,0,0,1,0,0
8,1,0,0,0,0,0,0,0,0,1,0
9,1,0,0,0,0,0,0,0,0,0,1

In [24]:
ratings_frame['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [29]:
labels = [1 if i > 3.5 else 0 for i in ratings_frame['rating'][:10]]

[0, 0, 0, 0, 0, 0, 1, 1, 1, 1]

In [27]:
ratings_frame['rating']

0           3.5
1           3.5
2           3.5
3           3.5
4           3.5
5           3.5
6           4.0
7           4.0
8           4.0
9           4.0
10          4.0
11          4.0
12          4.0
13          3.5
14          3.5
15          4.0
16          3.5
17          3.5
18          3.0
19          3.5
20          3.5
21          3.5
22          4.0
23          4.0
24          3.5
25          3.5
26          4.0
27          4.0
28          3.5
29          3.5
           ...
20000233    3.5
20000234    3.5
20000235    4.5
20000236    4.5
20000237    4.0
20000238    4.0
20000239    4.0
20000240    3.0
20000241    4.0
20000242    4.0
20000243    4.5
20000244    5.0
20000245    5.0
20000246    3.0
20000247    3.0
20000248    4.5
20000249    4.0
20000250    3.0
20000251    5.0
20000252    4.0
20000253    4.5
20000254    4.0
20000255    4.5
20000256    4.5
20000257    4.5
20000258    4.5
20000259    4.5
20000260    3.0
20000261    5.0
20000262    2.5
Name: rating, Length: 20000263, dtype: float64

In [33]:
outfile = 'test.pkl'
pickle.dump((temp, labels), open(outfile, 'wb'))
train, lab = pickle.load(open(outfile, 'rb'))

In [35]:
lab

[0, 0, 0, 0, 0, 0, 1, 1, 1, 1]